.start-modal__the-loc-nar {
    object-fit: cover;
}

.inactive {
    opacity: 0;
    pointer-events: none;
}

.start-modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.start-modal > div {
    height: 75vh;
    width: 50vw;
    background-color: white;
}

.start-modal__image {
    height: 8rem;
}

.start-modal__element,
.start-modal__button {
    transition: 0.2s;
}

.start-modal__element:hover,
.start-modal__button:hover {
    transform: scale(1.1);
}